extends layout-home

block content
    <div class="container-fluid">
    <div style='background-color:#eee'>
    <h1 style='font-size: 75px; color: #000000; font-family: Garamond'>404</h1><br><br> 
    <p style='font-size: 25px'>File not found</p>
    </div>