extends layout

block content
    <div class="container-fluid">
    <div style='background-color:#eee'>
    <h1 style='font-size: 75px; color: red; font-family: cursive'> Error 404: File not found</h1><br><br> 
    <p style='font-size: 25px'> Sorry for that dude: you requested for #{url} which is currently not available</p>
    </div>