<div class="container-fluid">
    <div class="jumbotron"> 
        <h1 align="center">Welcome to Reed<br><small>The Guruz Hideout</small></h1>
        <p>Reed is a platform whereby you mingle with guruz, learn from them and eventually you become one of them.</p>
        <blockquote class="lead pull-right text-success"><p>Birds of a feather flocks together</p><small><cite>Taiwo Ridwan a.k.a Donriddo</cite></small></blockquote><br><br><br><br><br><br>
        <p><a href="about" class="btn btn-lg btn-success">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-xs-6" style="background-color: #66a6f2; border: 2px solid tan"><br><br><br><br><br><br><br><br><div class="text-center" style="font-size: 30px; font-family: Impact">We can place a picture here</div><br><br><br><br><br><br><br><br><br><br></div>
        <div class="col-xs-6" style="background-color: #66a6f2; border: 2px solid tan"><br><br><br><br><br><br><br><br><div class="text-center" style="font-size: 30px; font-family: Impact">and any other content here</div><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
        


